name: Cache Dependencies

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v4
        with:
          path: ~/.cache
          key: cache-db21ae4

      - name: prime-cache-db21ae4
        run: echo "Cache hit ${{ steps.cache.outputs.cache-hit }}"
